# Ignore secret_key.txt
secret_key.txt

# General system files
*.DS_Store
*.log

# Python-specific files
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
*.egg
*.sqlite3

# Node.js specific files
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment files
.env
*.env

# Byte-compiled Python files
*.pyc
*.pyo
*.pyd

# Backup and temporary files
*.bak
*.swp
*.tmp

# IDE specific files
.idea/
.vscode/
*.iml
